{% extends 'registration/regbase.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block style %}
    <!-- Icons font CSS-->
    <link href="{% static 'register/register/vendor/mdi-font/css/material-design-iconic-font.min.css' %}"
          rel="stylesheet" media="all">
    <link href="{% static 'register/register/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet"
          media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'register/register/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'register/register/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'register/register/css/main.css' %}" rel="stylesheet" media="all">

{% endblock %}



{% block content %}
    {#    <form action="" method="POST" >#}
    {#    {% csrf_token %}#}
    {#    {{ form | crispy }}#}
    {##}
    {#    <button type="submit">Register</button>#}
    {#    </form>#}





    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Email Activation Success</h2>
                    <p>Thank you for your email confirmation. Now you can login your account.</p>
                    <br>
                    <br>

                    <div class="flex-col-c p-t-155" style="text-align: center">


                        <a href="{% url 'login' %}" class="txt2">
                            Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block js %}
    <!-- Jquery JS-->
    <script src="{% static 'register/register/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'register/register/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'register/register/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'register/register/vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'register/register/js/global.js' %}"></script>

    <script type="text/javascript">
        document.getElementById("id_role").options[0].remove()
        document.getElementById("id_role").options[0].remove()


    </script>
{% endblock %}