{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Forum Topics
{% endblock %}

{% block style %}


    <style>
        body {
            margin-top: 20px;
            background: #eee;
        }

        .mid-icon {
            font-size: 66px;
        }

        .forum-item {
            margin: 10px 0;
            padding: 10px 0 20px;
            border-bottom: 1px solid #f1f1f1;
        }

        .views-number {
            font-size: 24px;
            line-height: 18px;
            font-weight: 400;
        }

        .forum-container,
        .forum-item small {
            color: #999;
        }

        .forum-item .forum-sub-title {
            color: #999;
            margin-left: 10px;
        }

        .forum-info {
            text-align: center;
        }

        .forum-icon {
            float: left;
            width: 30px;
            margin-right: 20px;
            text-align: center;
        }

        a.forum-item-title {
            color: inherit;
            display: block;
            font-size: 18px;
            font-weight: 600;
        }

        a.forum-item-title:hover {
            color: inherit;
        }

        .forum-item.active a.forum-item-title {
            color: #1ab394;
        }

        @media (max-width: 992px) {
            .forum-info {
                margin: 15px 0 10px 0;
                /* Comment this is you want to show forum info in small devices */
                display: none;
            }

            .forum-desc {
                float: none !important;
            }
        }

        .ibox.collapsed .ibox-content {
            display: none;
        }

        .ibox-content {
            background-color: #ffffff;
            color: inherit;
            padding: 15px 20px 20px 20px;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 1px 0;
        }

        .text-navy {
            color: #1ab394;
        }

        .mid-icon {
            font-size: 66px !important;
        }

        .m-b-sm {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">

                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="row">
                            <div class="col-1" style="margin-right: 25px">
                                <div class=" pull-left m-r-md">
                                    <i class="fa fa-chart-line text-navy mid-icon"></i>
                                </div>
                            </div>
                            <div class="col-10">
                                <h2>Capstone Project Submissions Monitoring</h2>
                                <span>Monitor Group and Their Submitted Manuscript</span>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content m-b-sm border-bottom" style="height: 300px">
                <canvas id="myBarChart" width="100%" height="20%"></canvas>


            </div>
        </div>
    </div>
    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content m-b-sm border-bottom">


                <script type="text/javascript"
                        src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $("#ddlPassport").change(function () {

                            if ($(this).val() == "group") {
                                $("#pergroup").show();
                                $("#pertitle").hide();


                            } else if ($(this).val() == "submissions") {
                                $("#pergroup").hide();
                                $("#pertitle").show();


                            } else {
                                $("#pergroup").show();
                                $("#pertitle").show();
                            }
                        });
                    });
                </script>
                <span>Filter Monitoring By: </span>
                <select id="ddlPassport" class="form-select">
                    <option value="all">All</option>
                    <option value="submissions">Submissions</option>
                    <option value="group">Group</option>
                </select>


            </div>
        </div>
    </div>
    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content m-b-sm border-bottom" id="pergroup">
                <h5>Group Status per Submissions </h5>
                {% for group in groups %}
                    <div class="card">
                        <div class="card-header" style="background-color: #0df06f">
                            {{ group.get_full_name | title }} group
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless table-hover">
                                <thead>
                                <tr style="border-bottom: 1px solid">
                                    <th scope="col">Submissions</th>
                                    <th scope="col">Status</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for title in titles %}
                                    <tr>
                                        <th scope="row">{{ title }}</th>

                                        {% for submit in studentsubmit %}
                                            {% if submit.user == group and submit.submission_title == title %}
                                                <td><i class="fas fa-check" style="font-size: 150%"></i></td>



                                            {% endif %}

                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                {% endfor %}


            </div>
        </div>
    </div>
    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content m-b-sm border-bottom" id="pertitle">
                <h5>Submission Status per Group </h5>

                {% for title in titles %}
                    <div class="card">
                        <div class="card-header" style="background-color: #0dcaf0">
                            {{ title }}
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless table-hover">
                                <thead>
                                <tr style="border-bottom: 1px solid">
                                    <th scope="col">Group</th>
                                    <th scope="col">Status</th>


                                </tr>

                                </thead>
                                <tbody>
                                {% for group in groups %}

                                    <tr>
                                        <th scope="row"> {{ group.get_full_name }} </th>

                                        {% for submit in studentsubmit %}
                                            {% if submit.user == group and submit.submission_title == title %}
                                                <td><i class="fas fa-check" style="font-size: 150%"></i></td>




                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                {% endfor %}

            </div>


        </div>
    </div>
    </div>
    </div>



{% endblock %}

{% block js %}
    {#    FOR ADDING ACTIVE STATE IN NAVBAR#}
    <script>
        var d = document.getElementById("dashboard-nav");
        d.className += " active";
    </script>
    <script src="{% static 'main/js/Chart.min.js' %}" crossorigin="anonymous"></script>
    <script>
        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#292b2c';

        // Bar Chart Example
        var ctx = document.getElementById("myBarChart");
        var myLineChart = new Chart(ctx, {
            type: 'bar',
            data:
                {
                    labels: {{ labels | safe }}
                    ,
                    datasets: [{
                        label: "Groups",
                        backgroundColor: "rgba(2,117,216,1)",
                        borderColor: "rgba(2,117,216,1)",
                        data: {{ data | safe }},
                    }],

                }
            ,
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'Submission'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 15,
                            autoSkip: false,

                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max:
                                {% if groupnum != 0 %}
                                    {{groupnum}}
                                {% else %}
                                    5
                                {% endif %}
                            ,
                            maxTicksLimit: 10,
                            stepSize: 1,
                        },
                        gridLines: {
                            display: true
                        }
                    }],
                },
                legend: {
                    display: true
                },
                responsive: true,
                maintainAspectRatio: false,
            }
        });

    </script>


{% endblock %}