{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Adviser and Panelist Selection
{% endblock %}

{% block style %}
    <style>
        body {
            margin-top: 20px;
            background: #eee;
        }

        .mid-icon {
            font-size: 66px;
        }

        .forum-item {
            margin: 10px 0;
            padding: 10px 0 20px;
            border-bottom: 1px solid #f1f1f1;
        }

        .views-number {
            font-size: 24px;
            line-height: 18px;
            font-weight: 400;
        }

        .forum-container,
        .forum-item small {
            color: #999;
        }

        .forum-item .forum-sub-title {
            color: #999;
            margin-left: 10px;
        }

        .forum-info {
            text-align: center;
        }

        .forum-icon {
            float: left;
            width: 30px;
            margin-right: 20px;
            text-align: center;
        }

        a.forum-item-title {
            color: inherit;
            display: block;
            font-size: 18px;
            font-weight: 600;
        }

        a.forum-item-title:hover {
            color: inherit;
        }

        .forum-item.active a.forum-item-title {
            color: #1ab394;
        }

        @media (max-width: 992px) {
            .forum-info {
                margin: 15px 0 10px 0;
                /* Comment this is you want to show forum info in small devices */
                display: none;
            }

            .forum-desc {
                float: none !important;
            }
        }

        .ibox.collapsed .ibox-content {
            display: none;
        }

        .ibox-content {
            background-color: #ffffff;
            color: inherit;
            padding: 15px 20px 20px 20px;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 1px 0;
        }

        .text-navy {
            color: #1ab394;
        }

        .mid-icon {
            font-size: 66px !important;
        }

        .m-b-sm {
            margin-bottom: 10px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">


                    {#HEADER TITLE#}
                    <div class="ibox-content m-b-sm border-bottom">

                        <div class="row">
                            <div class="col-1" style="margin-right: 25px">
                                <div class=" pull-left m-r-md">
                                    <i class="fas fa-user-tie text-navy mid-icon"></i>
                                </div>
                            </div>
                            <div class="col-10">
                                <h2>Adviser and Panelists Selection</h2>
                                <span>Select your adviser here together with your final title and panelists</span>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}



    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content m-b-sm border-bottom">
                {% for panel1request in panel1requests %}
                    <h3 style="text-align: center">{{ panel1request.finaltitle }}</h3>

                    <table class="table table-responsive">

                        <tbody>


                        <tr>
                            <td class="col-3"><b>Proponents:</b></td>
                            <td>{{ panel1request.user.get_full_name }}; {{ panel1request.user.userprofile.mem2.get_full_name }}; {{ panel1request.user.userprofile.mem3.get_full_name }}
                            and; {{ panel1request.user.userprofile.mem4.get_full_name }}</td>

                        </tr>

                        <tr>
                            <td class="col-3"><b>Project Title:</b></td>

                            {% if panel1request.user.userprofile.group_title != "" %}
                                <td>{{ panel1request.user.userprofile.group_title }}</td>
                            {% else %}
                                <td><i style="color: grey">No Adviser accepted title yet</i></td>
                            {% endif %}

                        </tr>

                        <tr>
                            <td class="col-3"><b>Group Adviser:</b></td>

                            {% if panel1request.user.userprofile.group_adviser.get_full_name != None %}
                                <td>Prof. {{ panel1request.user.userprofile.group_adviser.get_full_name }}</td>
                            {% else %}
                                <td><i style="color: grey">No Adviser yet</i></td>
                            {% endif %}
                        </tr>


                        <tr>
                            <td class="col-3"><b>Request sent on:</b></td>
                            <td>{{ panel1request.timestamp }}</td>
                        </tr>


                        </tbody>
                    </table>
                {% endfor %}

                <div style="text-align: center">
                    <a href="{% url 'faculty_student_request' %}">
                        <button type="button" class="btn btn-secondary">Back</button>
                    </a>
                </div>
            </div>
        </div>


    </div>










{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#edittitle").click(function () {
                if ($(this).is(":checked")) {
                    $("#dvtitle").show();
                } else {
                    $("#dvtitle").hide();
                }
            });
        });
    </script>

    <script>
        var d = document.getElementById("adpan-nav");
        d.className += " active";
    </script>
{% endblock %}