<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                {#                <div class="sb-sidenav-menu-heading">Dashboard</div>#}
                <a class="nav-link" id="dashboard-nav" href="{% url 'cp_home' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" id="stud-nav" href="{% url 'add_student' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-graduation-cap"></i></div>
                    Monitor Students
                </a>
                <a class="nav-link" id="fac-nav" href="{% url 'add_faculty' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chalkboard-teacher"></i></div>
                    Monitor Faculty
                </a>


                <a class="nav-link" id="group-nav" href="{% url 'group_list' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Monitor Groups
                </a>

                <a class="nav-link" id="guide-nav" href="{% url 'guide' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-align-left"></i></div>
                    Capstone Guides
                </a>

                <a class="nav-link" id="title-nav" href="{% url 'Faculty_Title' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-scroll"></i></div>
                    Proposed Title
                </a>
                <a class="nav-link" id="adpan-nav" href="{% url 'FacultyAdviserAndPanelistView' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
                    Adviser & Panelists Selection
                </a>
                
                <a class="nav-link" id="submissions-nav" href="{% url 'submissions' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-paperclip"></i></div>
                    Activities
                </a>
                <a class="nav-link" id="evaluation-nav" href="{% url 'Scheduler' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-check"></i></div>
                    Scheduler
                </a>
                <a class="nav-link" id="manuscripteval-nav" href="{% url 'CPEvaluations' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-balance-scale"></i></div>
                    Manuscript Evaluation
                </a>
                <a class="nav-link" id="forum-nav" href="{% url 'topic' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
                    Forum
                </a>
                <a class="nav-link" id="plagiarism-nav" href="{% url 'plagcheck' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-check-double"></i></div>
                    Plagiarism Checker
                </a>
                <hr>
                <a class="nav-link" id="feedback-nav" href="{% url 'CPFeedback' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-bug"></i></div>
                    Feedback
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small" style="color: white">Logged in as:</div>
            <span style="color: white">{{ name }} - Capstone Professor</span>
        </div>
    </nav>
</div>

