{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Capstone Professor
{% endblock %}


{% block style %}
<style>
    body {
        margin-top: 20px;
        background: #eee;
    }

    .mid-icon {
        font-size: 66px;
    }

    .forum-item {
        margin: 10px 0;
        padding: 10px 0 20px;
        border-bottom: 1px solid #f1f1f1;
    }

    .views-number {
        font-size: 24px;
        line-height: 18px;
        font-weight: 400;
    }

    .forum-container,
    .forum-item small {
        color: #999;
    }

    .forum-item .forum-sub-title {
        color: #999;
        margin-left: 10px;
    }

    .forum-info {
        text-align: center;
    }

    .forum-icon {
        float: left;
        width: 30px;
        margin-right: 20px;
        text-align: center;
    }

    a.forum-item-title {
        color: inherit;
        display: block;
        font-size: 18px;
        font-weight: 600;
    }

    a.forum-item-title:hover {
        color: inherit;
    }

    .forum-item.active a.forum-item-title {
        color: #1ab394;
    }

    @media (max-width: 992px) {
        .forum-info {
            margin: 15px 0 10px 0;
            /* Comment this is you want to show forum info in small devices */
            display: none;
        }

        .forum-desc {
            float: none !important;
        }
    }

    .ibox.collapsed .ibox-content {
        display: none;
    }

    .ibox-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }

    .text-navy {
        color: #1ab394;
    }

    .mid-icon {
        font-size: 66px !important;
    }

    .m-b-sm {
        margin-bottom: 10px;
    }

</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content m-b-sm border-bottom">
                <div class="row">
                    <div class="col-1" style="margin-right: 25px">
                        <div class=" pull-left m-r-md">
                            <i class="fa fa-user text-navy mid-icon"></i>
                        </div>
                    </div>
                    <div class="col-10">
                        <h2>Manage Capstone Professors </h2>
                        <span>List of Capstone Professors and their information</span>
                    </div>


                </div>
            </div>


        </div>


    </div>
</div>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'alert-success' %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>

{% elif message.tags == 'alert-danger' %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endif %}

{% endfor %}
{% endif %}




{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% elif message.tags == 'error' %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endif %}
{% endfor %}

{% if userrole == "1" %}
<div class="container" style="display: flex; justify-content: center; margin-bottom: 10px">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Capstone Professor
    </button>
</div>
{% endif %}

<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox-content m-b-sm border-bottom">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        {% if userrole == "1" %}
                        <th scope="col">Action</th>
                        {% endif %}


                    </tr>
                </thead>
                <tbody>

                    {% for CapstoneProfessor in cp %}
                    <tr>
                        <th scope="row">{{ CapstoneProfessor.id }}</th>
                        <td>{{ CapstoneProfessor.first_name | title }}</td>
                        <td>{{ CapstoneProfessor.last_name | title }}</td>
                        <td>{{ CapstoneProfessor.username }}</td>
                        <td>{{ CapstoneProfessor.email }}</td>
                        {% if userrole == "1" %}
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm" id="remove" name="remove"
                                    value="{{ CapstoneProfessor.id }}">Remove
                                </button>
                            </form>
                        </td>
                        {% endif %}

                    </tr>
                    {% endfor %}


                </tbody>
            </table>

        </div>

    </div>
</div>




{#    #}
{#    <!-- Modal -->#}
{#    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title" id="exampleModalLabel">Add Capstone Professor</h5>#}
{#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                </div>#}
{#                <form method="POST">#}
{#                    {% csrf_token %}#}
{#                    <div class="modal-body">#}
{##}
{##}
{#                        <label for="first_name">First Name</label>#}
{#                        <input type="text" class="form-control" name="first_name">#}
{##}
{#                        <label for="last_name">Last Name</label>#}
{#                        <input type="text" class="form-control" name="last_name">#}
{##}
{#                        <label for="username">Username</label>#}
{#                        <input type="text" class="form-control" name="username">#}
{##}
{#                        <label for="email">Email</label>#}
{#                        <input type="email" class="form-control" name="email">#}
{##}
{#                        <label for="password">Password</label>#}
{#                        <input type="text" disabled placeholder="!@#Default" class="form-control" name="password">#}
{##}
{#                        <label for="role">Role</label>#}
{#                        <input type="text" disabled placeholder="Capstone Professor" class="form-control"#}
{#                               name="role">#}
{##}
{##}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#                        <button type="submit" class="btn btn-primary">Save changes</button>#}
{#                    </div>#}
{#                </form>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Capstone Professor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body">


                    <label for="first_name">Faculty Name</label>
                    <select class="form-select" name="name" list="FacultyList" aria-label="Faculty Name">
                        <option value="" disabled selected>Select faculty</option>
                        {% for fac in faculty %}
                        <option value="{{ fac.id }}">{{ fac.get_full_name }}</option>
                        {% endfor %}

                    </select>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>




{% endblock %}

{% block js %}
<script>
    var d = document.getElementById("cp-nav");
    d.className += " active";
</script>
{% endblock %}
