{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Evaluate
{% endblock %}

{% block style %}
    <style>
        body {
            margin-top: 20px;
            background: #eee;
        }

        .mid-icon {
            font-size: 66px;
        }

        .forum-item {
            margin: 10px 0;
            padding: 10px 0 20px;
            border-bottom: 1px solid #f1f1f1;
        }

        .views-number {
            font-size: 24px;
            line-height: 18px;
            font-weight: 400;
        }

        .forum-container,
        .forum-item small {
            color: #999;
        }

        .forum-item .forum-sub-title {
            color: #999;
            margin-left: 10px;
        }

        .forum-info {
            text-align: center;
        }

        .forum-icon {
            float: left;
            width: 30px;
            margin-right: 20px;
            text-align: center;
        }

        a.forum-item-title {
            color: inherit;
            display: block;
            font-size: 18px;
            font-weight: 600;
        }

        a.forum-item-title:hover {
            color: inherit;
        }

        .forum-item.active a.forum-item-title {
            color: #1ab394;
        }

        @media (max-width: 992px) {
            .forum-info {
                margin: 15px 0 10px 0;
                /* Comment this is you want to show forum info in small devices */
                display: none;
            }

            .forum-desc {
                float: none !important;
            }
        }

        .ibox.collapsed .ibox-content {
            display: none;
        }

        .ibox-content {
            background-color: #ffffff;
            color: inherit;
            padding: 15px 20px 20px 20px;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 1px 0;
        }

        .text-navy {
            color: #1ab394;
        }

        .mid-icon {
            font-size: 66px !important;
        }

        .m-b-sm {
            margin-bottom: 10px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">


                    {#HEADER TITLE#}
                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="row">
                            <div class="col-1" style="margin-right: 25px">
                                <div class=" pull-left m-r-md">
                                    <i class="fa fa-balance-scale text-navy mid-icon"></i>
                                </div>
                            </div>
                            <div class="col-10">

                                <h2>{{ submission.submission_title }}</h2>
                                <h5>{{ submission.user.userprofile.group_title }}</h5>
                                <span>{{ submission.user.get_full_name }}'s Group</span>
                                <div>
                                    <br>
                                    {% if submission.pdf_submit %}
                                        <p>file: <a href="{{ submission.pdf_submit.url }}"
                                                    target="_blank">{{ submission.filename }}</a></p>

                                    {% elif submission.submit_content %}
                                        <p>text: {{ submission.submit_content }}</p>
                                    {% endif %}
                                    <br>
                                    {% for eval in eval_grade %}
                                        <p><strong>{{ eval.evaluator.get_full_name }}</strong></p>
                                        <div style="margin-bottom: 10px; align-items: left; justify-content: left; display: flex">
                                            Evaluation Grade/Result:&nbsp; <strong>
                                            {% if submission.eval_grade_submit == "PF" %}
                                            {% if eval.PF == "Passed" %}
                                            <mark style="background-color: green; color: white">{{eval.PF}}</mark>
                                            {% else %}
                                            <mark style="background-color: rgb(197, 4, 4); color: white">{{eval.PF}}</mark>
                                            {% endif %}
                                            {% elif submission.eval_grade_submit == "N" %}
                                            {% if eval.N <= 74.9 %}
                                            <mark style="background-color: rgb(197, 4, 4); color: white">{{eval.N}}</mark>
                                            {% else%}
                                            <mark style="background-color: green; color: white"> {{ eval.N }}</mark>
                                            {% endif %}
                                            {% endif %}
                                        </strong>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">


        <div class="wrapper wrapper-content animated fadeInRight">

            {% for users in e_users %}
                <div class="ibox-content forum-container">
                    <div class="ibox-content">
                        <div style="display: flex; justify-content: center">
                            <h3>{{ users.eval_user.get_full_name }}</h3>
                        </div>
                        <br>

                        <caption>
                        </caption>
                        <table class="table caption-top">
                            <thead>
                            <tr>
                                <th scope="col">Content</th>
                                <th scope="col">Suggestions/recommendations</th>
                                <th scope="col">Page</th>
                            </tr>
                            </thead>
                            {% for eval in evaluation %}
                                {% if eval.user == users.eval_user %}
                                    <tbody>
                                    <tr>
                                        <td>{{ eval.content }}</td>
                                        <td>{{ eval.recommendations }}</td>
                                        <td>{{ eval.page }}</td>
                                    </tr>
                                    </tbody>
                                {% endif %}
                            {% endfor %}
                        </table>

                    </div>
                </div>
                <br>

            {% endfor %}
        </div>
    </div>







{% endblock %}

{% block js %}
    <script>
        var d = document.getElementById("manuscripteval-nav");
        d.className += " active";
    </script>

{% endblock %}