{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Submissions Comment
{% endblock %}

{% block style %}


    <style>
        body {
            margin-top: 20px;
            background: #eee;
        }

        .mid-icon {
            font-size: 66px;
        }

        .forum-item {
            margin: 10px 0;
            padding: 10px 0 20px;
            border-bottom: 1px solid #f1f1f1;
        }

        .views-number {
            font-size: 24px;
            line-height: 18px;
            font-weight: 400;
        }

        .forum-container,
        .forum-item small {
            color: #999;
        }

        .forum-item .forum-sub-title {
            color: #999;
            margin-left: 10px;
        }

        .forum-info {
            text-align: center;
        }

        .forum-icon {
            float: left;
            width: 30px;
            margin-right: 20px;
            text-align: center;
        }

        a.forum-item-title {
            color: inherit;
            display: block;
            font-size: 18px;
            font-weight: 600;
        }

        a.forum-item-title:hover {
            color: inherit;
        }

        .forum-item.active a.forum-item-title {
            color: #1ab394;
        }

        @media (max-width: 992px) { {
        #.forum-info {
            #
        } {
            # margin: 15px 0 10px 0;
            #
        } {
            # /* Comment this is you want to show forum info in small devices */ #
        } {
            #display: none;
            #
        } {
            #
        }

        #
        }

        .forum-desc {
            float: none !important;
        }

        }

        .ibox.collapsed .ibox-content {
            display: none;
        }

        .ibox-content {
            background-color: #ffffff;
            color: inherit;
            padding: 15px 20px 20px 20px;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 1px 0;
        }

        .text-navy {
            color: #1ab394;
        }

        .mid-icon {
            font-size: 66px !important;
        }

        .m-b-sm {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}


    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content m-b-sm border-bottom">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ submissions.user.get_full_name }}</h4>

                    </div>
                    <div class="card-body">
                        {% if submissions.filename != None %}

                        <p>File: <a href="{{ submit.pdf_submit.url }}" target="_blank">{{ submissions.filename }}</a>
                        </p>
                        {% endif %}
                        {% if submissions.submit_content %}
                            <p>{{ submissions.submit_content }}</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <small>Date Submitted: {{ submissions.timestamp }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% elif message.tags == 'error' %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}

    
    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content m-b-sm border-bottom">
                <div style="display: flex;justify-content: center">
                    <h4>Comment</h4>
                </div>

                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    <button type="submit" class="btn btn-primary" style="text-align: right">
                        Comment
                    </button>
                </form>
            </div>
        </div>
    </div>
    <br>

    {% for comment in comments %}
        <div class="card">
            <div class="card-header">
                <h5>{{ comment.user.get_full_name | title }}</h5>
            </div>
            <div class="card-body">
                {{ comment.comment_content }}

            </div>
            <div class="card-footer">
                <small>Date Created: {{ comment.timestamp }}</small>
            </div>
        </div>
        <br>
    {% endfor %}



{% endblock %}

{% block js %}
    {#    FOR ADDING ACTIVE STATE IN NAVBAR#}
    <script>
        var d = document.getElementById("submissions-nav");
        d.className += " active";
    </script>




{% endblock %}