{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/css/dashboard.css' %}">
<style>
    body {
        margin-top: 20px;
        background: #eee;
    }

    .mid-icon {
        font-size: 66px;
    }

    .forum-item {
        margin: 10px 0;
        padding: 10px 0 20px;
        border-bottom: 1px solid #f1f1f1;
    }

    .views-number {
        font-size: 24px;
        line-height: 18px;
        font-weight: 400;
    }

    .forum-container,
    .forum-item small {
        color: #999;
    }

    .forum-item .forum-sub-title {
        color: #999;
        margin-left: 10px;
    }

    .forum-info {
        text-align: center;
    }

    .forum-icon {
        float: left;
        width: 30px;
        margin-right: 20px;
        text-align: center;
    }

    a.forum-item-title {
        color: inherit;
        display: block;
        font-size: 18px;
        font-weight: 600;
    }

    a.forum-item-title:hover {
        color: inherit;
    }

    .forum-item.active a.forum-item-title {
        color: #1ab394;
    }

    @media (max-width: 992px) {
        .forum-info {
            margin: 15px 0 10px 0;
            /* Comment this is you want to show forum info in small devices */
            display: none;
        }

        .forum-desc {
            float: none !important;
        }
    }

    .ibox.collapsed .ibox-content {
        display: none;
    }

    .ibox-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }

    .text-navy {
        color: #1ab394;
    }

    .mid-icon {
        font-size: 66px !important;
    }

    .m-b-sm {
        margin-bottom: 10px;
    }

</style>


{% endblock %}




{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="row">
                        <div class="col-1" style="margin-right: 10px">
                            <div class=" pull-left m-r-md">
                                <i class="fa fa-chart-line text-navy mid-icon"></i>
                            </div>
                        </div>
                        <div class="col-10">
                            <h2>Dashboard</h2>
                            <span>Welcome <b> {{ name }}</b></span>

                        </div>


                    </div>

                </div>
                <div class="ibox-content m-b-sm border-bottom">
                    <h5>Progress</h5>

                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{ progress }}%"
                            aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
                            {{ progress }}%
                        </div>
                    </div>

                    <style>
                        div.scrollmenu {
                            overflow: auto;
                            white-space: nowrap;
                            text-align: center;
                        }

                        div.scrollmenu div {
                            display: inline-block;
                            text-align: center;
                            padding: 14px;
                            text-decoration: none;
                        }

                        .check-icon {
                            font-size: 60px;
                            margin-top: -10px;
                        }


                        .check-text {
                            color: #3b3b3b;
                        }

                    </style>


                    <div class="scrollmenu">
                        {% for sub in progressjson %}


                        <div class="checkdiv">
                            <p class="check-text">{{ sub.title }}</p>
                            {% if sub.status == "submitted" %}
                            <i class="fas fa-check check-icon" style="color: #60d762"></i>
                            {% else %}
                            <i class="fas fa-hourglass-start check-icon" style="color: #d56464"></i>



                            {% endif %}<br>

                        </div>
                        {% endfor %}


                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <i class="fas fa-bullhorn"></i>
                            Announcement board
                        </div>

                    </div>

                </div>

                <div class="card-body board" style="overflow: auto; max-height: 350px">
                    <table class="table table-hover table-borderless table-responsive">

                        {#TABLE FOR ANNOUNCEMENTS                    #}
                        {% for announcement in announcements %}

                        <tbody>
                            <tr>
                                <td>{{ announcement.timestamp |date:"d M, g:i a " }}</td>
                                <td>{{ announcement.detail }}</td>


                            </tr>
                        </tbody>
                        {# /table#}



                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-calendar-week"></i> Upcoming Events
                </div>

                <div class="card-body board" style="overflow: auto; max-height: 350px">
                    <table class="table table-hover table-borderless table-responsive">
                        <p><strong> Submissions</strong></p>
                        {#TABLE FOR  SUBMISSION#}
                        {% for sub in upcoming_submission %}
                        {% if sub.duedate > now %}
                        <tbody>
                            <tr>

                                <td><a href="{% url 'submit' sub.id %}"
                                        style=" text-decoration: none; color: black;">{{ sub.duedate }}</a></td>
                                <td><a href="{% url 'submit' sub.id %}"
                                        style=" text-decoration: none; color: black;">{{ sub.title }}</a></td>
                                <td>{{ sub.duedate|timeuntil }}</td>

                            </tr>
                        </tbody>
                        {% endif %}
                        {% endfor %}
                    </table>
                    <p><strong> Schedule</strong></p>
                    <table class="table table-hover table-borderless table-responsive">
                        {% for sched in upcoming_schedule %}
                        
                        <tbody>
                            <tr>
                                <td>{{ sched.date.date_event}}</td>
                                <td>{{ sched.time }}</td>
                                <td>{{ sched.event }}</td>
                                <td>{{ sched.date.date_event |timeuntil}}</td>


                            </tr>
                        </tbody>
                        
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-info"></i>
            Group's Information
        </div>

        <div class="card-body">
            <table class="table">

                <tbody>
                    {% for detail in details %}
                    <tr>
                        <th class="col-2">Title</th>
                        {% if detail.group_title %}
                        <td>{{ detail.group_title }}</td>
                        {% else %}
                        <td><i>No title yet. <a href="{% url 'Student_Title' %}">Propose a title here.</a></i>
                        </td>
                        {% endif %}

                    </tr>
                    <tr>

                        <th class="col-2">Proponents</th>
                        {% if detail.mem1 %}
                        <td>{{ detail.mem1.get_full_name }}; {{ detail.mem2.get_full_name }};
                            {{ detail.mem3.get_full_name }}; {{ detail.mem4.get_full_name }} </td>
                        {% else %}
                        <td><i>No proponents info yet. <a href="{% url 'Group' %}">Insert group info
                                    here.</a></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th class="col-2">Adviser</th>
                        {% if detail.group_adviser %}
                        <td>Prof. {{ detail.group_adviser.get_full_name }}</td>
                        {% else %}
                        <td><i>No Adviser yet. <a href="{% url 'StudentAdviserAndPanelistView' %}">Select
                                    Adviser here.</a></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th class="col-2">Panelists</th>
                        {% if detail.group_panel_1 %}
                        <td>Prof. {{ detail.group_panel_1.get_full_name }};
                            {% if detail.group_panel_2 %}
                            Prof. {{ detail.group_panel_2.get_full_name }};
                            {% endif %}
                            {% if detail.group_panel_3 %}
                            Prof. {{ detail.group_panel_3.get_full_name }}</td>
                        {% endif %}
                        {% else %}
                        <td><i>No Panelists yet. <a href="{% url 'StudentAdviserAndPanelistView' %}">Select
                                    Panelists here.</a></i></td>
                        {% endif %}
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}

<script>
    var d = document.getElementById("dashboard-nav");
    d.className += " active";
</script>


{% endblock %}
