{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Group Proposal
{% endblock %}

{% block style %}
<style>
    body {
        margin-top: 20px;
        background: #eee;
    }

    .mid-icon {
        font-size: 66px;
    }

    .forum-item {
        margin: 10px 0;
        padding: 10px 0 20px;
        border-bottom: 1px solid #f1f1f1;
    }

    .views-number {
        font-size: 24px;
        line-height: 18px;
        font-weight: 400;
    }

    .forum-container,
    .forum-item small {
        color: #999;
    }

    .forum-item .forum-sub-title {
        color: #999;
        margin-left: 10px;
    }

    .forum-info {
        text-align: center;
    }

    .forum-icon {
        float: left;
        width: 30px;
        margin-right: 20px;
        text-align: center;
    }

    a.forum-item-title {
        color: inherit;
        display: block;
        font-size: 18px;
        font-weight: 600;
    }

    a.forum-item-title:hover {
        color: inherit;
    }

    .forum-item.active a.forum-item-title {
        color: #1ab394;
    }

    @media (max-width: 992px) {
        .forum-info {
            margin: 15px 0 10px 0;
            /* Comment this is you want to show forum info in small devices */
            display: none;
        }

        .forum-desc {
            float: none !important;
        }
    }

    .ibox.collapsed .ibox-content {
        display: none;
    }

    .ibox-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }

    .text-navy {
        color: #1ab394;
    }

    .mid-icon {
        font-size: 66px !important;
    }

    .m-b-sm {
        margin-bottom: 10px;
    }

</style>

{% endblock %}

{% block content %}

<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">


                {#HEADER TITLE#}
                <div class="ibox-content m-b-sm border-bottom">

                    <div class="row">
                        <div class="col-1" style="margin-right: 25px">
                            <div class=" pull-left m-r-md">
                                <i class="fas fa-scroll text-navy mid-icon"></i>
                            </div>
                        </div>
                        <div class="col-10">
                            <h2>Proposed Title </h2>
                            <span>Proposed titles are posted here according to group</span>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% elif message.tags == 'error' %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% elif message.tags == 'warning' %}
<div class="alert alert-warning" role="alert">
    {{ message }}
</div>
{% endif %}
{% endfor %}



<div style="display: flex;justify-content: center">
    <h3><i>{{ groupname.0 |title }}</i> Proposed Titles</h3>
</div>

<div class="container">
    <div class="ibox-content forum-container">

        {% for titles in titlelists %}
        {% if titles.status != "Accepted" %}
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <div class="d-flex">
                            <img src="{{ titles.user.userprofile.image.url }}" class="me-3 rounded-circle"
                                style="width: 50px; height: 50px">
                            <div>
                                <a href="{% url 'FacultyTitleComment' titles.id %}" style="text-decoration: none">

                                    <h5 class="fw-bold">
                                        {{ titles.title | title }}
                                    </h5>
                                </a>

                                <small class="text-muted">Posted on {{ titles.created_at }}

                                    {% if titles.created_at != titles.updated_at %}
                                    Modified on {{ titles.updated_at }}
                                    {% endif %}

                                </small>
                                

                            </div>
                        </div>
                    </div>
                    {% if titles.edited != None%}
                    <div class="col-2">
                         <h6 style="color: rgb(13, 145, 35);">{{ titles.edited}}</h6>
                    </div>
                    {% endif %}
                </div>


            </div>

            <div class="card-body">
                {{ titles.description }}
            </div>






            {% if titles.status == "Accepted" %}
            <div class="card-footer" style="background: #0dcaf0">

                Title Status: {{ titles.status }}
            </div>
            {% elif titles.status == "Rejected" %}
            <div class="card-footer" style="background: #ea9799">

                Title Status: {{ titles.status }}
            </div>
            {% elif titles.status == "Title Needs Clarifications" %}
            <div class="card-footer" style="background: #b7b1b1">

                Title Status: {{ titles.status }}
            </div>

            {% else %}
            <div class="card-footer">
                Title Status: Title proposed <small><i>await approval</i></small>
            </div>


            {% endif %}
        </div>
        <br>
        {% endif %}
        {% endfor %}
        <hr>
        <br>

        {% for titles in titlelists %}
        {% if titles.status == "Accepted" %}
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <div class="d-flex">
                            <img src="{{ titles.user.userprofile.image.url }}" class="me-3 rounded-circle"
                                style="width: 50px; height: 50px">
                            <div>
                                <a href="{% url 'FacultyTitleComment' titles.id %}" style="text-decoration: none">
        
                                    <h5 class="fw-bold">
                                        {{ titles.title | title }}
                                    </h5>
                                </a>
        
                                <small class="text-muted">Posted on {{ titles.created_at }}
        
                                    {% if titles.created_at != titles.updated_at %}
                                    Modified on {{ titles.updated_at }}
                                    {% endif %}
        
                                </small>
        
        
                            </div>
                        </div>
                    </div>
                    {% if titles.edited != None%}
                    <div class="col-2">
                        <h6 style="color: rgb(13, 145, 35);">{{ titles.edited}}</h6>
                    </div>
                    {% endif %}
                </div>
        
        
            </div>
        
            <div class="card-body">
                {{ titles.description }}
            </div>
        
        
        
        
        
        
            {% if titles.status == "Accepted" %}
            <div class="card-footer" style="background: #0dcaf0">
        
                Title Status: {{ titles.status }}
            </div>
            {% elif titles.status == "Rejected" %}
            <div class="card-footer" style="background: #ea9799">
        
                Title Status: {{ titles.status }}
            </div>
            {% elif titles.status == "Title Needs Clarifications" %}
            <div class="card-footer" style="background: #b7b1b1">
        
                Title Status: {{ titles.status }}
            </div>
        
            {% else %}
            <div class="card-footer">
                Title Status: Title proposed <small><i>await approval</i></small>
            </div>
        
        
            {% endif %}
        </div>
        <br>
        {% endif %}
        {% endfor %}
    </div>
</div>
<br>




{##}
{#    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">#}
{#        <ul>#}
{#            <h4><a class="nav-link active " href="" style="color: black">#}
{#                Title Proposals#}
{#            </a>#}
{#            </h4>#}
{#        </ul>#}
{#        <ul>#}
{#            <h4><a class="nav-link active " href="/proposal/group_list/" style="color: black">#}
{#                Title Results#}
{#            </a>#}
{#            </h4>#}
{#        </ul>#}
{#    </div>#}
{#    <hr>#}
{##}
{#    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">#}
{##}
{#        <h2 class="h2">#}
{#            Title Proposals#}
{#        </h2>#}
{#    </div>#}
{##}
{##}
{##}
{#    <hr>#}
{#    {% for title in  titlelists %}#}
{#        <div class="container-fluid">#}
{#            <a href="" style="text-decoration: none">#}
{#                <div class="card">#}
{#                    <div class="card-header">#}
{##}
{#                        <ul>#}
{#                            <div class="d-flex">#}
{#                                <img src="{{ title.user.userprofile.image.url }}" class="me-3 rounded-circle"#}
{#                                     style="width: 50px; height: 50px">#}
{#                                <div>#}
{#                                    <h5 class=" card-title">{{ title.title }}</h5>#}
{#                                    <small class="text-muted">Posted by {{ title.user| title }} </small>#}
{#                                    <hr>#}
{#                                    <small class="text-muted">Created on:#}
{#                                        <strong>{{ title.created_at }}</strong></small>#}
{#                                    <br>#}
{#                                    <small class="text-muted">Last Modified on: <strong>{{ title.updated_at }}</strong></small>#}
{##}
{#                                </div>#}
{#                            </div>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <p>{{ title.description }}</p>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </a>#}
{#        </div>#}
{#        <hr>#}
{#        <br>#}
{#    {% endfor %}#}
{##}
{##}
{#    </main>#}
{##}
{##}




{% endblock %}

{% block js %}
<script>
    var d = document.getElementById("title-nav");
    d.className += " active";
</script>
{% endblock %}
