{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Forum Topics
{% endblock %}

{% block style %}


<style>
    body {
        margin-top: 20px;
        background: #eee;
    }

    .mid-icon {
        font-size: 66px;
    }

    .forum-item {
        margin: 10px 0;
        padding: 10px 0 20px;
        border-bottom: 1px solid #f1f1f1;
    }

    .views-number {
        font-size: 24px;
        line-height: 18px;
        font-weight: 400;
    }

    .forum-container,
    .forum-item small {
        color: #999;
    }

    .forum-item .forum-sub-title {
        color: #999;
        margin-left: 10px;
    }

    .forum-info {
        text-align: center;
    }

    .forum-icon {
        float: left;
        width: 30px;
        margin-right: 20px;
        text-align: center;
    }

    a.forum-item-title {
        color: inherit;
        display: block;
        font-size: 18px;
        font-weight: 600;
    }

    a.forum-item-title:hover {
        color: inherit;
    }

    .forum-item.active a.forum-item-title {
        color: #1ab394;
    }

    @media (max-width: 992px) {
        .forum-info {
            margin: 15px 0 10px 0;
            /* Comment this is you want to show forum info in small devices */
            display: none;
        }

        .forum-desc {
            float: none !important;
        }
    }

    .ibox.collapsed .ibox-content {
        display: none;
    }

    .ibox-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }

    .text-navy {
        color: #1ab394;
    }

    .mid-icon {
        font-size: 66px !important;
    }

    .m-b-sm {
        margin-bottom: 10px;
    }

</style>
{% endblock %}

{% block content %}




<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="row">
                        <div class="col-1" style="margin-right: 25px">
                            <div class=" pull-left m-r-md">
                                <i class="fa fa-scroll text-navy mid-icon"></i>
                            </div>
                        </div>
                        <div class="col-10">
                            <h2> {{ comment.author.get_full_name }}</h2>
                            <span>{{ comment.comment}}</span>
                            <hr>
                            <div>
                                <small>
                                    {{ comment.created_at}}
                                </small>
                            </div>
                        </div>


                    </div>
                </div>


                {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}


                <div class="container-fluid"
                    style="margin-bottom: 10px; align-items: center; justify-content: center; display: flex">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Reply
                    </button>
                    <br>
                </div>

                <div class="container">
                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="ibox-content m-b-sm border-bottom">
                            <div style="display: flex;justify-content: center;">
                                <h5>Comments</h5>
                            </div>
                            <div class="ibox-content forum-container">
                                {% for reply in com_reply %}
                                <div class="row">
                                    <div class="col-10">
                                        <div class="d-flex">
                                            <img src="{{ comment.author.userprofile.image.url }}"
                                                class="me-3 rounded-circle" style="width: 50px; height: 50px">
                                            <div>
                                                <h5 class="fw-bold">{{ reply.user.get_full_name }}
                                                </h5>
                                                <small class="text-muted">on {{ reply.created_at }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="forum-item active">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="forum-icon">

                                            </div>
                                            <div class="forum-sub-title" style="color: #3d3b3b">
                                                {{ reply.reply }}
                                                <div style="text-align: right">
                                                    <a href="{% url 'Edit_comment_reply' reply.id %}" style=" text-decoration: none; color: #47ad47">
                                                        <i class="far fa-edit" style=" text-decoration: none;"></i>
                                                    </a>
                                                    <a href="{% url 'delete_reply' reply.id %}" style=" text-decoration: none;margin-right: 100px; color: #be4040">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reply</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    {{ form | crispy }}


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Reply</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{#    FOR ADDING ACTIVE STATE IN NAVBAR#}
<script>
    var d = document.getElementById("title-nav");
    d.className += " active";
</script>

<script>
    let str = document.getElementsByName("discussion").innerHTML;
    document.getElementsByName("discussion").innerHTML = str.replace(".", "W3Schools");
    ;

</script>
{% endblock %}
