{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Adviser and Panelist Selection
{% endblock %}

{% block style %}
<style>
    body {
        margin-top: 20px;
        background: #eee;
    }

    .mid-icon {
        font-size: 66px;
    }

    .forum-item {
        margin: 10px 0;
        padding: 10px 0 20px;
        border-bottom: 1px solid #f1f1f1;
    }

    .views-number {
        font-size: 24px;
        line-height: 18px;
        font-weight: 400;
    }

    .forum-container,
    .forum-item small {
        color: #999;
    }

    .forum-item .forum-sub-title {
        color: #999;
        margin-left: 10px;
    }

    .forum-info {
        text-align: center;
    }

    .forum-icon {
        float: left;
        width: 30px;
        margin-right: 20px;
        text-align: center;
    }

    a.forum-item-title {
        color: inherit;
        display: block;
        font-size: 18px;
        font-weight: 600;
    }

    a.forum-item-title:hover {
        color: inherit;
    }

    .forum-item.active a.forum-item-title {
        color: #1ab394;
    }

    @media (max-width: 992px) {
        .forum-info {
            margin: 15px 0 10px 0;
            /* Comment this is you want to show forum info in small devices */
            display: none;
        }

        .forum-desc {
            float: none !important;
        }
    }

    .ibox.collapsed .ibox-content {
        display: none;
    }

    .ibox-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }

    .text-navy {
        color: #1ab394;
    }

    .mid-icon {
        font-size: 66px !important;
    }

    .m-b-sm {
        margin-bottom: 10px;
    }

</style>

{% endblock %}

{% block content %}

<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">


                {#HEADER TITLE#}
                <div class="ibox-content m-b-sm border-bottom">

                    <div class="row">
                        <div class="col-1" style="margin-right: 25px">
                            <div class=" pull-left m-r-md">
                                <i class="fas fa-user-tie text-navy mid-icon"></i>
                            </div>
                        </div>
                        <div class="col-10">
                            <h2>Adviser and Panelists Selection</h2>
                            <span>Select your adviser here together with your final title and panelists</span>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% elif message.tags == 'error' %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content m-b-sm border-bottom">
            <h3 style="text-align: center">Requests as Adviser</h3>

            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Proponents</th>
                        <th scope="col">Title</th>

                        <th>Action</th>
                        <th>Accept/Decline</th>
                    </tr>
                </thead>
                <tbody>
                    {% if adviserrequests %}
                    {% for adrequest in adviserrequests %}

                    <tr>
                        <td class="col-2">{{ adrequest.user.get_full_name }};
                            <br>{{ adrequest.user.userprofile.mem2.get_full_name }};
                            <br>{{ adrequest.user.userprofile.mem3.get_full_name }} and;
                            <br>{{ adrequest.user.userprofile.mem4.get_full_name }}
                        </td>
                        <td>{{ adrequest.finaltitle }}</td>

                        <td class="col-2">
                            <a href="{% url 'faculty_student_request_adviser' adrequest.id %}">View Information<i
                                    class="fas fa-arrow-right"></i></a>
                        </td>
                        <td class="col-2">
                            {% if adrequest.status == 'pending' %}
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success" value="{{ adrequest.id }}"
                                    name="adviseraccept">Accept
                                </button>
                                <button type="submit" class="btn btn-danger" value="{{ adrequest.id }}"
                                    name="adviserdecline">Decline
                                </button>
                            </form>
                            {% else %}
                            {{ adrequest.status }}
                            {% endif %}
                        </td>
                    </tr>



                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No requests yet
                        </td>
                    </tr>
                    {% endif %}


                </tbody>
            </table>


        </div>
    </div>
</div>


<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content m-b-sm border-bottom">
            <h3 style="text-align: center">Requests as Panelist #1 (Chairman)</h3>

            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Proponents</th>
                        <th scope="col">Title</th>
                        <th>Action</th>
                        <th>Accept/Decline</th>
                    </tr>
                </thead>
                <tbody>
                    {% if panel1requests %}
                    {% for panel1request in panel1requests %}

                    <tr>
                        <td class="col-2">{{ panel1request.user.get_full_name }};
                            <br>{{ panel1request.user.userprofile.mem2.get_full_name }};
                            <br>{{ panel1request.user.userprofile.mem3.get_full_name }} and;
                            <br>{{ panel1request.user.userprofile.mem4.get_full_name }}
                        </td>
                        <td>
                            {{ panel1request.user.userprofile.group_title }}
                        </td>


                        <td class="col-2">
                            <a href="{% url 'faculty_student_request_panel1' panel1request.id %}">View Information <i
                                    class="fas fa-arrow-right"></i></a>
                        </td>

                        <td class="col-2">
                            {% if panel1request.status == 'pending' %}
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success" value="{{ panel1request.id }}"
                                    name="panel1accept">Accept
                                </button>
                                <button type="submit" class="btn btn-danger" value="{{ panel1request.id }}"
                                    name="panel1decline">Decline
                                </button>
                            </form>
                            {% else %}
                            {{ panel1request.status }}
                            {% endif %}
                        </td>

                    </tr>



                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No requests yet
                        </td>
                    </tr>
                    {% endif %}


                </tbody>
            </table>


        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content m-b-sm border-bottom">
            <h3 style="text-align: center">Requests as Panelist #2</h3>

            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Proponents</th>
                        <th scope="col">Title</th>

                        <th>Action</th>
                        <th>Accept/Decline</th>
                    </tr>
                </thead>
                <tbody>
                    {% if panel2requests %}
                    {% for panel2request in panel2requests %}

                    <tr>
                        <td class="col-2">{{ panel2request.user.get_full_name }};
                            <br>{{ panel2request.user.userprofile.mem2.get_full_name }};
                            <br>{{ panel2request.user.userprofile.mem3.get_full_name }} and;
                            <br>{{ panel2request.user.userprofile.mem4.get_full_name }}
                        </td>

                        {% if panel2request.user.userprofile.group_title != "" %}
                        <td>{{ panel2request.user.userprofile.group_title }}</td>
                        {% else %}
                        <td><i style="color: grey">No Adviser accepted title yet</i></td>
                        {% endif %}

                        <td class="col-2"><a href="{% url 'faculty_student_request_panel2' panel2request.id %}">View
                                Information <i class="fas fa-arrow-right"></i></a></td>
                        <td class="col-2">
                            {% if panel2request.status == 'pending' %}
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success" value="{{ panel2request.id }}"
                                    name="panel2accept">Accept
                                </button>
                                <button type="submit" class="btn btn-danger" value="{{ panel2request.id }}"
                                    name="panel2decline">Decline
                                </button>
                            </form>
                            {% else %}
                            {{ panel2request.status }}
                            {% endif %}
                        </td>
                    </tr>



                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No requests yet
                        </td>
                    </tr>
                    {% endif %}


                </tbody>
            </table>


        </div>
    </div>
</div>


<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content m-b-sm border-bottom">
            <h3 style="text-align: center">Requests as Panelist #3</h3>

            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Proponents</th>
                        <th scope="col">Title</th>

                        <th>Action</th>
                        <th>Accept/Decline</th>
                    </tr>
                </thead>
                <tbody>
                    {% if panel3requests %}
                    {% for panel3request in panel3requests %}

                    <tr>
                        <td class="col-2">{{ panel3request.user.get_full_name }};
                            <br>{{ panel3request.user.userprofile.mem2.get_full_name }};
                            <br>{{ panel3request.user.userprofile.mem3.get_full_name }} and;
                            <br>{{ panel3request.user.userprofile.mem4.get_full_name }}
                        </td>
                        {% if panel3request.user.userprofile.group_title != "" %}
                        <td>{{ panel3request.user.userprofile.group_title }}</td>
                        {% else %}
                        <td><i style="color: grey">No Adviser accepted title yet</i></td>
                        {% endif %}

                        <td class="col-2"><a href="{% url 'faculty_student_request_panel3' panel3request.id %}">View
                                Information <i class="fas fa-arrow-right"></i></a></td>
                        <td class="col-2">
                            {% if panel3request.status == 'pending' %}
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success" value="{{ panel3request.id }}"
                                    name="panel3accept">Accept
                                </button>
                                <button type="submit" class="btn btn-danger" value="{{ panel3request.id }}"
                                    name="panel3decline">Decline
                                </button>
                            </form>
                            {% else %}
                            {{ panel3request.status }}
                            {% endif %}
                        </td>
                    </tr>



                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No requests yet
                        </td>
                    </tr>
                    {% endif %}


                </tbody>
            </table>


        </div>
    </div>
</div>











{% endblock %}

{% block js %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#edittitle").click(function () {
            if ($(this).is(":checked")) {
                $("#dvtitle").show();
            } else {
                $("#dvtitle").hide();
            }
        });
    });
</script>

<script>
    var d = document.getElementById("adpan-nav");
    d.className += " active";
</script>
{% endblock %}
